<!--Author - Padmesh Donthu, Pratibha Basapure-->
<div style="background-color: lightblue;">
  <div
    fxLayout="row"
    fxLayout.xs="column"
    fxLayoutWrap
    fxLayoutGap="20px"
    fxLayoutGap.xs="5px"
    fxLayoutAlign="start"
    style="padding: 2%;"
  >
    <div fxFlex="30%" fxLayout="column wrap" fxLayoutAlign="start start">
      <p style="text-decoration: underline; font-size: medium;">
        Some quick links...
      </p>
      <p style="margin: 0;">
        <a [routerLink]="'/privacyPolicies'" class="link">Privacy Policies</a>
      </p>
      <p style="margin: 0;">
        <a [routerLink]="'/termsAndConditions'" class="link"
          >Terms and Conditions</a
        >
      </p>
      <p style="margin: 0;">
        <a [routerLink]="'/faqs'" class="link">FAQs</a>
      </p>
    </div>
    <div fxFlex="40%">
      <div fxLayout="column wrap" fxLayoutAlign="center center">
        <p style="text-decoration: underline; font-size: medium;">
          Connect with us at..
        </p>

        <div fxLayout="row" fxLayoutGap="40px" fxLayoutAlign="center">
          <a
            href="https://www.facebook.com/GREPrep-106492821161876"
            target="_blank"
            style="margin-right: 40px;"
          >
            <img
              src="../../assets/img/f_logo_RGB-Blue_100.png"
              style="cursor: pointer; width: 150%;"
            />
          </a>
          <a href="https://www.instagram.com" target="_blank">
            <img
              src="../../assets/img/glyph-logo_May2016.png"
              style="cursor: pointer; width: 65%; margin-left: 20px;"
            />
          </a>
          <a href="https://www.linkedin.com" target="_blank">
            <img
              src="../../assets/img/LI-In-Bug.png"
              style="cursor: pointer; width: 62%;"
            />
          </a>
          <a href="https://www.youtube.com/watch?v=gmUX4Brfqag" target="_blank">
            <img
              src="../../assets/img/yt_logo_rgb_light.png"
              style="
                cursor: pointer;
                width: 75%;
                margin-top: 35px;
                margin-left: -45px;
              "
            />
          </a>
        </div>
      </div>
    </div>
    <div fxFlex="25%" fxLayout="column wrap" fxLayoutAlign="end end">
      <p style="text-decoration: underline; font-size: medium;">
        Some quick links...
      </p>
      <p style="margin: 0;">
        <a [routerLink]="'/contactUs'" class="link">Contact Us</a>
      </p>
      <p style="margin: 0;">
        <a [routerLink]="'/aboutUs'" class="link">About Us</a>
      </p>
    </div>
  </div>
  <div
    fxLayout="row"
    fxLayout.xs="column"
    fxLayoutWrap
    fxLayoutGap="20px"
    fxLayoutGap.xs="5px"
    fxLayoutAlign="end end"
    style="padding-right: 2%;"
  >
    <div fxFlex="100%" style="text-align: right;">
      <a
        href="https://play.google.com/store/apps/details?id=mega.GRE.examination"
        target="_blank"
      >
        <img src="../../assets/img/google-play-badge.png" style="width: 15%;" />
      </a>
    </div>
  </div>
  <div
    fxLayout="row"
    fxLayout.xs="column"
    fxLayoutWrap
    fxLayoutGap="20px"
    fxLayoutGap.xs="5px"
    fxLayoutAlign="center center"
    style="padding-top: 0.5%;"
  >
    <div fxFlex="100%">
      <h5 style="font-size: medium; text-align: center;">
        &#169; 2020 by GREPREP. All Rights Reserved.
      </h5>
    </div>
  </div>
</div>
