<!--Author - Pratibha B-->
<app-header></app-header>
<div class="example-action-buttons">
  <h1>
    <button mat-button (click)="accordion.openAll()">Expand All</button>
    <button mat-button (click)="accordion.closeAll()">Collapse All</button>
  </h1>
</div>
<mat-accordion class="example-headers-align" multi>
  <div class="registrationLayout">
    <mat-card class="registrationCard" [class.mat-elevation-z10]="true">
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <h2>Personal Information</h2>
          </mat-panel-title>
          <mat-panel-description>
            Edit your full name and mobile number
            <mat-icon>account_circle</mat-icon>
          </mat-panel-description>
        </mat-expansion-panel-header>
        <form [formGroup]="signupForm" (ngSubmit)="submitUserName()">
          <div
            class="container"
            fxLayout="row"
            fxLayout.xs="column"
            fxLayoutAlign="start center"
            fxLayoutGap="10px"
          >
            <div fxFlex="50%" fxLayoutGap="10px">
              <mat-label>First Name : </mat-label>
              <span *ngIf="!makeFirstNameEditable">
                {{ userDetails.firstName }}</span
              >
              <mat-form-field
                *ngIf="makeFirstNameEditable"
                appearance="outline"
              >
                <input
                  matInput
                  type="text"
                  required
                  placeholder="Enter your full name"
                  formControlName="firstName"
                  id="firstName"
                  [(ngModel)]="userDetails.firstName"
                />
                <mat-icon matPrefix>account_circle</mat-icon>
                <mat-error *ngIf="hasError('firstName', 'required')"
                  >First Name is required</mat-error
                >
              </mat-form-field>
              <button
                *ngIf="!makeFirstNameEditable"
                mat-raised-button
                color="primary"
                type="button"
                (click)="editUserName()"
              >
                Edit
              </button>
              <button
                *ngIf="makeFirstNameEditable"
                mat-raised-button
                color="primary"
                type="submit"
              >
                Save
              </button>
              <button
                *ngIf="makeFirstNameEditable"
                mat-raised-button
                color="primary"
                type="button"
                (click)="submitUserName()"
              >
                Cancel
              </button>
            </div>
          </div>
        </form>
        <br />
        <form
          [formGroup]="contactNumberForm"
          (ngSubmit)="submitContactNumber()"
        >
          <div
            class="container"
            fxLayout="row"
            fxLayout.xs="column"
            fxLayoutAlign="start center"
            fxLayoutGap="10px"
          >
            <mat-label>Contact Number : </mat-label>
            <span *ngIf="!makeContactNumberEditable">
              {{ userDetails.mobileNumber }}</span
            >
            <mat-form-field
              *ngIf="makeContactNumberEditable"
              appearance="outline"
            >
              <input
                matInput
                type="text"
                required
                placeholder="Enter your name"
                formControlName="mobileNum"
                id="contactNum"
                [(ngModel)]="userDetails.mobileNumber"
              />
              <mat-icon matPrefix> contact_phone</mat-icon>
              <mat-error *ngIf="hasErrorInContactNum('mobileNum', 'required')"
                >Contact Number is required</mat-error
              >
              <mat-error *ngIf="hasErrorInContactNum('mobileNum', 'minlength')"
                >10 digit contact number is required
              </mat-error>
              <mat-error *ngIf="hasErrorInContactNum('mobileNum', 'maxlength')"
                >10 digit contact number is required
              </mat-error>
              <mat-error *ngIf="hasErrorInContactNum('mobileNum', 'pattern')"
                >Contact number should be a digit
              </mat-error>
            </mat-form-field>
            <button
              *ngIf="!makeContactNumberEditable"
              mat-raised-button
              color="primary"
              type="button"
              (click)="editContactNumber()"
            >
              Edit
            </button>
            <button
              *ngIf="makeContactNumberEditable"
              mat-raised-button
              color="primary"
              type="submit"
            >
              Save
            </button>
            <button
              *ngIf="makeContactNumberEditable"
              mat-raised-button
              color="primary"
              type="button"
              (click)="submitContactNumber()"
            >
              Cancel
            </button>
          </div>
        </form>
      </mat-expansion-panel>
    </mat-card>
  </div>
  <div class="registrationLayout">
    <mat-card class="registrationCard" [class.mat-elevation-z10]="true">
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <h2>Password Management</h2>
          </mat-panel-title>
          <mat-panel-description>
            Change password
            <mat-icon>lock</mat-icon>
          </mat-panel-description>
        </mat-expansion-panel-header>

        <form [formGroup]="passwordChangeForm" (ngSubmit)="submitPassword()">
          <div
            class="container"
            fxLayout="row"
            fxLayout.xs="column"
            fxLayoutAlign="start center"
            fxLayoutGap="10px"
          >
            <div fxFlex="30%">
              <mat-form-field appearance="outline">
                <mat-label>Password</mat-label>
                <input
                  matInput
                  [type]="hide ? 'password' : 'text'"
                  required
                  placeholder="Enter your password"
                  formControlName="password"
                  id="password"
                  minlength="8"
                />
                <mat-icon matPrefix>lock</mat-icon>
                <mat-icon
                  matSuffix
                  (click)="hide = !hide"
                  style="cursor: pointer;"
                >
                  {{ hide ? "visibility_off" : "visibility" }}</mat-icon
                >
                <mat-error
                  *ngIf="hasErrorInChangePassword('password', 'required')"
                  >Password is required</mat-error
                >
                <mat-error
                  *ngIf="hasErrorInChangePassword('password', 'minlength')"
                  >The minimum length is 8 characters
                </mat-error>
              </mat-form-field>
            </div>
            <div fxFlex="30%">
              <mat-form-field appearance="outline">
                <mat-label>Confirm Password</mat-label>
                <input
                  matInput
                  [type]="hide ? 'password' : 'text'"
                  placeholder="Confirm your password"
                  formControlName="confirmPassword"
                  id="confirmPassword"
                  [errorStateMatcher]="matcher"
                />
                <mat-icon matPrefix>lock</mat-icon>
                <mat-icon
                  matSuffix
                  (click)="hide = !hide"
                  style="cursor: pointer;"
                >
                  {{ hide ? "visibility_off" : "visibility" }}</mat-icon
                >
                <mat-error *ngIf="passwordChangeForm.hasError('notSame')">
                  Passwords do not match
                </mat-error>
              </mat-form-field>
            </div>
          </div>
          <button mat-raised-button color="primary" type="submit">
            Save
          </button>
        </form>
      </mat-expansion-panel>
    </mat-card>
  </div>
  <div class="registrationLayout">
    <mat-card class="registrationCard" [class.mat-elevation-z10]="true">
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <h2>Delete Account</h2>
          </mat-panel-title>
          <mat-panel-description>
            Delete your account along with all saved universities list
            <mat-icon>delete_forever</mat-icon>
          </mat-panel-description>
        </mat-expansion-panel-header>
        <button mat-raised-button color="warn" (click)="deleteUserAccount()">
          Delete account
        </button>
      </mat-expansion-panel>
    </mat-card>
  </div>
</mat-accordion>
