<!--Author - Abhinav Ramesh-->
<div style="background-color: #e7ebee; min-height: 100%;">
  <app-header></app-header>
  <h1 style="padding-top: 2%; text-align: center; font-size: xx-large;">
    MY SCHOOLS
  </h1>
  <div style="padding-bottom: 2%;">
    <div *ngIf="tempUserSchools" fxLayout="column" fxLayoutGap="0%">
      <div
        *ngIf="dreamSchools.length > 0"
        fxLayout="column"
        fxLayoutAlign="center"
        class="mat-elevation-z8"
        style="background-color: white;"
      >
        <div
          *ngIf="dreamSchools.length > 0"
          fxFlex="10%"
          style="text-align: center; font-size: larger; padding-top: 2%;"
        >
          Dream Schools
        </div>
        <div fxFlex="80%" style="margin: 2%;">
          <mat-table
            *ngIf="dreamSchools.length > 0"
            [dataSource]="dream_dataSource"
            class="mat-table"
            matSort
          >
            <!-- Position Column -->
            <ng-container matColumnDef="id">
              <mat-header-cell *matHeaderCellDef> ID </mat-header-cell>
              <mat-cell *matCellDef="let element; let i = index">
                {{ i + 1 + paginatorDream.pageIndex * paginatorDream.pageSize }}
              </mat-cell>
            </ng-container>

            <!-- Name Column -->
            <ng-container matColumnDef="name">
              <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
              <mat-cell *matCellDef="let element">
                {{ element.schoolName }}
              </mat-cell>
            </ng-container>

            <ng-container matColumnDef="actions">
              <mat-header-cell *matHeaderCellDef> Remove</mat-header-cell>
              <mat-cell *matCellDef="let row">
                <a
                  color="primary"
                  style="cursor: pointer;"
                  (click)="deleteSchool(row.schoolId)"
                >
                  <i class="fa fa-trash"></i>
                </a>
              </mat-cell>
            </ng-container>

            <mat-header-row
              *matHeaderRowDef="displayedColumns"
            ></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
          </mat-table>
        </div>
        <div fxFlex="10%" style="margin-left: auto; margin-right: auto;">
          <mat-paginator
            #paginatorDream
            class="mat-paginator-sticky"
            [length]="dream_dataSource?.data.length"
            [pageIndex]="0"
            [pageSize]="5"
            [pageSizeOptions]="[2, 3, 4, 5]"
          ></mat-paginator>
        </div>
      </div>
      <div
        *ngIf="reachSchools.length > 0"
        fxFlex="30%"
        fxLayout="column"
        fxLayoutAlign="center"
        class="mat-elevation-z8"
        style="background-color: white;"
      >
        <div
          *ngIf="reachSchools.length > 0"
          fxFlex="10%"
          style="text-align: center; font-size: larger; padding-top: 2%;"
        >
          Reach Schools
        </div>
        <div fxFlex="80%" style="margin: 2%;">
          <mat-table
            *ngIf="reachSchools.length > 0"
            [dataSource]="reach_dataSource"
            class="mat-table"
            matSort
          >
            <!-- Position Column -->
            <ng-container matColumnDef="id">
              <mat-header-cell *matHeaderCellDef> ID </mat-header-cell>
              <mat-cell *matCellDef="let element; let i = index">
                {{ i + 1 + paginatorReach.pageIndex * paginatorReach.pageSize }}
              </mat-cell>
            </ng-container>

            <!-- Name Column -->
            <ng-container matColumnDef="name">
              <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
              <mat-cell *matCellDef="let element">
                {{ element.schoolName }}
              </mat-cell>
            </ng-container>

            <ng-container matColumnDef="actions">
              <mat-header-cell *matHeaderCellDef> Remove</mat-header-cell>
              <mat-cell *matCellDef="let row">
                <a
                  color="primary"
                  style="cursor: pointer;"
                  (click)="deleteSchool(row.schoolId)"
                >
                  <i class="fa fa-trash"></i>
                </a>
              </mat-cell>
            </ng-container>

            <mat-header-row
              *matHeaderRowDef="displayedColumns"
            ></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
          </mat-table>
        </div>
        <div fxFlex="10%" style="margin-left: auto; margin-right: auto;">
          <mat-paginator
            #paginatorReach
            [length]="reach_dataSource?.data.length"
            [pageIndex]="0"
            [pageSize]="5"
            [pageSizeOptions]="[2, 3, 4, 5]"
          ></mat-paginator>
        </div>
      </div>
      <div
        *ngIf="safeSchools.length > 0"
        fxFlex="30%"
        fxLayout="column"
        fxLayoutAlign="center"
        class="mat-elevation-z8"
        style="background-color: white;"
      >
        <div
          *ngIf="safeSchools.length > 0"
          fxFlex="10%"
          style="text-align: center; font-size: larger; padding-top: 2%;"
        >
          Safe Schools
        </div>
        <div fxFlex="80%" style="margin: 2%;">
          <mat-table
            *ngIf="safeSchools.length > 0"
            [dataSource]="safe_dataSource"
            class="mat-table"
            matSort
          >
            <!-- Position Column -->
            <ng-container matColumnDef="id">
              <mat-header-cell *matHeaderCellDef> ID </mat-header-cell>
              <mat-cell *matCellDef="let element; let i = index"
                >{{ i + 1 + paginatorSafe.pageIndex * paginatorSafe.pageSize }}
              </mat-cell>
            </ng-container>

            <!-- Name Column -->
            <ng-container matColumnDef="name">
              <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
              <mat-cell *matCellDef="let element">
                {{ element.schoolName }}
              </mat-cell>
            </ng-container>

            <ng-container matColumnDef="actions">
              <mat-header-cell *matHeaderCellDef> Remove</mat-header-cell>
              <mat-cell *matCellDef="let row">
                <a
                  color="primary"
                  style="cursor: pointer;"
                  (click)="deleteSchool(row.schoolId)"
                >
                  <i class="fa fa-trash"></i>
                </a>
              </mat-cell>
            </ng-container>

            <mat-header-row
              *matHeaderRowDef="displayedColumns"
            ></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
          </mat-table>
        </div>
        <div fxFlex="10%" style="margin-left: auto; margin-right: auto;">
          <mat-paginator
            #paginatorSafe
            [length]="safe_dataSource?.data.length"
            [pageIndex]="0"
            [pageSize]="5"
            [pageSizeOptions]="[2, 3, 4, 5]"
          ></mat-paginator>
        </div>
      </div>
    </div>
    <div *ngIf="!tempUserSchools">
      <h2 style="text-align: center;">
        You havent added any school into Favourites.
      </h2>
    </div>
  </div>
</div>
