<!-- Author - Pratibha B -->
<app-header></app-header>
<div class="heading">Frequently Asked Questions (FAQs)</div>
<div class="content">
  <div class="card">
    <mat-card class="example-card">
      <mat-card-header>
        <div
          mat-card-avatar
          class="example-header-image"
          style="background-image: url('/assets/img/faq.jpg');"
        ></div>
        <mat-card-title>WHY DO YOU NEED THIS WEBSITE?</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>
          The best application for preparing for GRE examination which covers
          quantitative, verbal, quizzes and also Mock Tests.
        </p>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="card">
    <mat-card class="example-card">
      <mat-card-header>
        <div
          mat-card-avatar
          class="example-header-image"
          style="background-image: url('/assets/img/faq.jpg');"
        ></div>
        <mat-card-title>WHO SHOULD USE THIS WEBSITE?</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>
          The GRE aspirants who want to score 300+, with ease must use this
          application.
        </p>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="card">
    <mat-card class="example-card">
      <mat-card-header>
        <div
          mat-card-avatar
          class="example-header-image"
          style="background-image: url('/assets/img/faq.jpg');"
        ></div>
        <mat-card-title
          >WHAT IS SPECIAL IN THIS WEBSITE, THAT OTHERS DO NOT
          PROVIDE?</mat-card-title
        >
      </mat-card-header>
      <mat-card-content>
        <p>
          This website provides you with maximum study material for free along
          with tests and also has a gre predictor.
        </p>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="card">
    <mat-card class="example-card">
      <mat-card-header>
        <div
          mat-card-avatar
          class="example-header-image"
          style="background-image: url('/assets/img/faq.jpg');"
        ></div>
        <mat-card-title>WHO SHOULD USE THIS WEBSITE?</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>
          The GRE aspirants who want to score 300+, with ease must use GREPrep
        </p>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="card">
    <mat-card class="example-card">
      <mat-card-header>
        <div
          mat-card-avatar
          class="example-header-image"
          style="background-image: url('/assets/img/faq.jpg');"
        ></div>
        <mat-card-title
          >HOW MANY QUESTIONS ARE THEIR IN THIS WEBSITE OVERALL COMBINING ALL
          THE SECTIONS?</mat-card-title
        >
      </mat-card-header>
      <mat-card-content>
        <p>
          The questions are compiled and created by experts who have a great
          depth of knowledge in both verbal and quantitative sections with
          different type of questions.
        </p>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="card">
    <mat-card class="example-card">
      <mat-card-header>
        <div
          mat-card-avatar
          class="example-header-image"
          style="background-image: url('/assets/img/faq.jpg');"
        ></div>
        <mat-card-title
          >WHICH COUNTRY UNIVERSITIES INFORMATION I CAN GET?</mat-card-title
        >
      </mat-card-header>
      <mat-card-content>
        <p>
          Overall information about top USA and Canada universities are
          provided.
        </p>
      </mat-card-content>
    </mat-card>
  </div>
</div>
<footer></footer>
