<!-- Author - Pratibha B -->
<app-header></app-header>
<div class="heading">About Us</div>
<div class="content">
  <div class="card">
    <mat-card class="example-card">
      <mat-card-header>
        <mat-card-title>GREPrep</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>
          Today users like you mostly want the best product but at a minimum
          possible cost, so generally it is quite difficult to find such
          product, but this website is completely free of cost and is available
          for all the users globally. Moreover, we provide enough practice
          materials to ace the GRE examination. These materials resemble the
          questions asked in the GRE examination very closely, as can be
          observed from our testimonials the scores the students have got after
          using our resources. This website is trustworthy, free of cost and
          provides a very simple interface for preparation. It is a combo of
          everything that a student needs to perform well in the GRE
          examination. It’s a great option for students as it is offered
          entirely online, meaning no books, DVDs, classrooms, etc. This has
          become the preferred study method for the majority of GRE studiers.
          There are also no deadlines so the GRE prep course from GREPrep can be
          taken at students own pace, which is a huge plus as other courses
          often make you pay quite a bit extra to extend your subscription. It’s
          a great option for people with full time jobs, families, or some other
          time demanding factor. It’s completely free of cost only requirement
          being creating an account to access all the features. Again, the
          program is completely accessed online, which may be a drawback for
          some but from all the students I’ve helped on the GRE who have used
          GREPrep, none have seen this as an obstacle to maximizing their
          learning.We do not provide in person tutoring. However, GREPrep offers
          a plethora of free resources that can help immensely in place of a
          tutor. Moreover, GREPrep has its own android application that also
          offers plethora of study materials for the students for practice. The
          application is avilable on google play store. So, if a student is not
          able to use the website while on the go, they can easily access all
          the materials through our android application. The app is also free of
          cost. These are the factors that the student can consider while opting
          our services and we promise stduent will never regret thier decision
          of choosing us. We wish all the best to evry GRE aspirants. Happy
          learning!!
        </p>
      </mat-card-content>
    </mat-card>
  </div>
</div>
<footer></footer>
