<!--Author - Abhinav Ramesh-->
<app-header></app-header>
<div class="loading-indicator" *ngIf="isLoading">
  <mat-spinner></mat-spinner>
</div>
<div class="container" *ngIf="!isLoading">
  <div class="auto-complete" style="text-align: center;">
    <form class="example-form" [formGroup]="form">
      <mat-form-field class="example-full-width" appearance="outline">
        <mat-label>Search Universities</mat-label>
        <input
          type="text"
          aria-label="School"
          matInput
          formControlName="myControl"
          [matAutocomplete]="auto"
        />
        <mat-autocomplete
          autoActiveFirstOption
          #auto="matAutocomplete"
          (optionSelected)="getCard($event.option.value.id)"
          [displayWith]="displayFn"
        >
          <mat-option
            *ngFor="let school of filteredSchools | async"
            [value]="school"
          >
            {{ school.name }}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
      <button
        mat-fab
        title="Reset the field"
        color="primary"
        (click)="reset()"
        aria-label="Example icon button with a home icon"
      >
        <mat-icon>refresh</mat-icon>
      </button>
    </form>
  </div>

  <div class="row">
    <div *ngFor="let school of schoolList">
      <div
        class="col s12 m12 l6"
        *ngIf="schoolChoosen == 0 || schoolChoosen == school.id"
      >
        <div class="card">
          <div class="card-image waves-effect waves-block waves-light">
            <img
              class="activator"
              src="{{ school.imageURL }}"
              style="width: 100%; height: 40vh;"
            />
          </div>
          <div class="card-content" *ngIf="!verifySchoolStatus(school)">
            <span
              class="card-title grey-text text-darken-4"
              style="font-size: medium;"
              >{{ school.name }}
              <i
                class="material-icons right"
                [matMenuTriggerFor]="menu"
                style="cursor: pointer;"
                >favorite_border</i
              ></span
            >
            <mat-menu #menu="matMenu">
              <button mat-menu-item (click)="addToFavouriteSchools(school, 1)">
                Add to Dream Schools
              </button>
              <button mat-menu-item (click)="addToFavouriteSchools(school, 2)">
                Add to Reach Schools
              </button>
              <button mat-menu-item (click)="addToFavouriteSchools(school, 3)">
                Add to Safe Schools
              </button>
            </mat-menu>
          </div>
          <div class="card-content" *ngIf="verifySchoolStatus(school)">
            <span
              class="card-title grey-text text-darken-4"
              style="font-size: medium;"
              >{{ school.name }}
              <i class="material-icons right" style="color: #e31b23;"
                >favorite</i
              ></span
            >
          </div>
          <div class="card-reveal">
            <span class="card-title grey-text text-darken-4"
              >{{ school.name }}<i class="material-icons right">close</i></span
            >
            <br />
            <p>{{ school.description }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
