<!-- Author - Pratibha B -->
<app-header></app-header>
<div class="heading">Contact Us</div>
<div class="content">
  <div class="card">
    <mat-card class="example-card">
      <mat-card-header>
        <mat-card-title>Our contact details</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>
          We created this application to help the students excel in their GRE
          exam. For any queries that are not listed in FAQs, feel free to
          contact us at neelesh.homefilescenter14@gmail.com or reach at
          +19028809819. We are always happy to help.
        </p>
      </mat-card-content>
    </mat-card>
  </div>
</div>
<footer></footer>
