<!--Author - Padmesh Donthu-->
<div style="background-color: #e7ebee; background-size: cover;">
  <app-header></app-header>
  <div style="padding: 2%;">
    <div>
      <h1 class="heading">Success Stories</h1>
    </div>
    <div
      fxLayout="column"
      fxLayoutGap="2%"
      fxLayoutAlign="center"
      class="topDiv"
    >
      <div class="mat-elevation-z8">
        <mat-card>
          <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>Name: Akash Singh </mat-card-title>
            <mat-card-subtitle
              >GRE Score Before GREPrep: 303 <br />GRE Score After GREPrep:
              315</mat-card-subtitle
            >
          </mat-card-header>
          <p>
            GREPrep was instrumental in teaching me new concepts for the GRE
            that I hadn’t learned from previous prep materials. The study plans
            had a great focus on both verbal and quant, allowing for better
            development of each skill. The practice questions were phenomenal.
            Especially the interface was so simple that there was no extra
            effort required, complete focus was on studies. I went through all
            of the practice questions, and all of the quizzes, twice! I also
            utilized the word lists provided that helped me to enhance my
            vocabulary, and reading comprehensions solidified my readiness even
            further. I improved my score by 12 points that was just amazing, and
            I solely attribute this to GREPrep.
          </p>
        </mat-card>
      </div>
      <div class="mat-elevation-z8">
        <mat-card>
          <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>Name: Kabir Singh </mat-card-title>
            <mat-card-subtitle
              >GRE SCORE BEFORE GREPrep: 311 <br />GRE Score After GREPrep:
              329</mat-card-subtitle
            >
          </mat-card-header>
          <p>
            GREPrep is amazing. I went from not even knowing what the GRE was to
            getting a great score in one month. I followed the 1 month study
            plan and felt that GREPrep prepared me so well that I took my GRE a
            month early and the result was astonishing. I got a 329 total, and
            was so happy with my score I cried. I gave GRE before also by using
            practice materials from other websites but after using GREPrep just
            for one month my score increased by 18 points. GREPrep prepared me
            so well, especially for the quant section which I really struggled
            with in the beginning. They provide so great practice materials that
            resemble the real GRE exam very closely and the mock test scores are
            really the same as we get in the real GRE exam. I really can't thank
            GREPrep enough. I came into GRE studying so nervous, clueless and
            unprepared and came out with an amazing score I couldn't be happier
            with. Thank you GREPrep!!!
          </p>
        </mat-card>
      </div>
      <div class="mat-elevation-z8">
        <mat-card>
          <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>Name: David Jones </mat-card-title>
            <mat-card-subtitle
              >GRE SCORE BEFORE GREPrep: Not given <br />GRE Score After
              GREPrep: 324</mat-card-subtitle
            >
          </mat-card-header>
          <p>
            If I say GREPrep is THE BEST prep for GRE, you probably would be
            thinking I am being boastful or perhaps trying to market GREPrep.
            But one just cannot be modest while talking about it. If you are
            preparing to take a GRE, GREPrep has to be the way. It is like a
            one-stop-shop, which has all the materials one might need to ace in
            GRE. The QUALITY of questions included in the study material are
            unparalleled and are closest to the type and quality of questions
            one sees in GRE. And if you are scared of the Verbal section, then
            let me assure you, the materials are so well organized it will be a
            piec of cakewalk. I had never given GRE exam before, so I was very
            nervous since it was my first time. But after getting my score in
            the mock test, my confidence was boosted, and trust me it was not
            fake confidence since the actual score was exactly the same as the
            score in the mock test. This proves that thier test is so accurate
            to the real GRE examination. Moreover the best part of all, they
            provide everything free of cost that is just superb. Thank you so
            much GREPrep for helping me to get admit to my dream university.
          </p>
        </mat-card>
      </div>
    </div>
  </div>
</div>
