/*Author - Abhinav Ramesh*/
.mat-elevation-z8 {
  height: 45%;
  width: 60%;
  margin: auto;
  background-color: white;
}
.heading {
  text-align: center;
  font-size: xx-large;
  padding-top: 3%;
}
.material-icons {
  font-size: 48px;
  padding-right: 3vw;
}
.matTable {
  width: 100%;
}
.dropDown {
  min-width: 150px;
  width: 50%;
}
th.mat-sort-header-sorted {
  color: blue;
}
.mat-paginator-sticky {
  bottom: 0;
  position: sticky;
  z-index: 10;
}
.tableheading{
  width: auto;
}
.mat-header-cell {
  background-color: #1967b3;
  color: white;
}
:host ::ng-deep .mat-sort-header-arrow {
  color: black;
}
:host ::ng-deep .mat-form-field-wrapper {
  padding-bottom: 10px !important;
}
.ranking-table {
  height: 45vh;
  overflow: auto;
}

.loading-indicator {
  position: fixed;
  z-index: 999;
  height: 2em;
  width: 2em;
  overflow: show;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

/* Transparent Overlay */
.loading-indicator:before {
  content: "";
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
}
