<!--Author- Pratibha B-->
<div class="loginLayout">
  <mat-card class="loginCard" [class.mat-elevation-z10]="true">
    <mat-card-title>Returning User?</mat-card-title>
    <mat-card-subtitle>Continue your learning!</mat-card-subtitle>
    <mat-card-content>
      <div class="alert" *ngIf="serverErrorMessages">
        {{ serverErrorMessages }}
      </div>
      <div
        class="container"
        fxLayout="row"
        fxLayout.xs="column"
        fxLayoutWrap
        fxLayoutGap="0.5"
        fxLayoutAlign="start"
      >
        <div fxFlex="35%" style="padding: 10px;">
          <form [formGroup]="forgotPasswordForm" (ngSubmit)="resetPassword()">
            <div
              class="container"
              fxLayout="row"
              fxLayout.xs="column"
              fxLayoutWrap
              fxLayoutGap="0.5"
              fxLayoutAlign="start"
            >
              <mat-form-field appearance="outline">
                <mat-label>Email address</mat-label>

                <input
                  matInput
                  type="email"
                  required
                  placeholder="Enter your Email address"
                  formControlName="email"
                  id="email"
                />
                <mat-icon matPrefix>email</mat-icon>
                <mat-hint align="end">Example: xyz@gmail.com</mat-hint>
                <mat-error *ngIf="hasError('email', 'required')"
                  >Email address is required</mat-error
                >
                <mat-error *ngIf="hasError('email', 'email')"
                  >Emaild address is not valid</mat-error
                >
              </mat-form-field>
            </div>
            <br />
            <div
              class="container"
              fxLayout="row"
              fxLayout.xs="column"
              fxLayoutWrap
              fxLayoutGap="0.5"
              fxLayoutAlign="start"
            >
              <mat-form-field appearance="outline">
                <mat-label>Password</mat-label>
                <input
                  matInput
                  [type]="hide ? 'password' : 'text'"
                  required
                  placeholder="Enter your password"
                  formControlName="password"
                  id="password"
                  minlength="8"
                />
                <mat-icon matPrefix>lock</mat-icon>
                <mat-icon
                  matSuffix
                  (click)="hide = !hide"
                  style="cursor: pointer;"
                >
                  {{ hide ? "visibility_off" : "visibility" }}</mat-icon
                >
                <mat-error *ngIf="hasError('password', 'required')"
                  >Password is required</mat-error
                >
                <mat-error *ngIf="hasError('password', 'minlength')"
                  >The minimum length is 8 characters
                </mat-error>
              </mat-form-field>
            </div>
            <br />
            <div
              class="container"
              fxLayout="row"
              fxLayout.xs="column"
              fxLayoutWrap
              fxLayoutGap="0.5"
              fxLayoutAlign="start"
            >
              <mat-form-field appearance="outline">
                <mat-label>Confirm Password</mat-label>
                <input
                  matInput
                  [type]="hide ? 'password' : 'text'"
                  placeholder="Confirm your password"
                  formControlName="confirmPassword"
                  id="confirmPassword"
                  [errorStateMatcher]="matcher"
                />
                <mat-icon matPrefix>lock</mat-icon>
                <mat-icon
                  matSuffix
                  (click)="hide = !hide"
                  style="cursor: pointer;"
                >
                  {{ hide ? "visibility_off" : "visibility" }}</mat-icon
                >
                <mat-error *ngIf="forgotPasswordForm.hasError('notSame')">
                  Passwords do not match
                </mat-error>
              </mat-form-field>
            </div>
            <br />
            <div
              class="container"
              fxLayout="row"
              fxLayout.xs="column"
              fxLayoutWrap
              fxLayoutGap="0.5"
              fxLayoutAlign="start"
            >
              <button
                type="submit"
                mat-raised-button
                color="primary"
                [disabled]="!forgotPasswordForm.valid"
              >
                Resume Learning!
              </button>
            </div>
            <br />
          </form>
          <br />
          <div
            class="container"
            fxLayout="row"
            fxLayout.xs="column"
            fxLayoutWrap
            fxLayoutGap="0.5"
            fxLayoutAlign="start"
          >
            <div>
              New User? Create account here
              <a href="/registration">
                <button mat-stroked-button color="primary" class="loginBtn">
                  Start Learning!
                </button>
              </a>
              <br />
              <a [routerLink]="['']">Go to Home</a>
            </div>
          </div>
        </div>
        <div fxFlex="65%">
          <br />
          <div
            class="container"
            fxLayout="row"
            fxLayout.xs="column"
            fxLayoutWrap
            fxLayoutGap="0.5"
            fxLayoutAlign="end"
          >
            <div>
              <img
                src="../../assets/img/english2.jpg"
                width="80%"
                height="75%"
              />
            </div>
          </div>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</div>
