/* Author - Padmesh */
.loading-indicator {
  position: fixed;
  z-index: 999;
  height: 2em;
  width: 2em;
  overflow: show;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

/* Transparent Overlay */
.loading-indicator:before {
  content: "";
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
}

table {
  width: 100%;
}
.attemptHistory {
  padding: 20px;
}
th.mat-sort-header-sorted {
  color: blue;
}
.attemptTable {
  height: 63vh;
  overflow: auto;
  background-color: white;
}
.mat-form-field {
  font-size: 14px;
  width: 100%;
}
.mat-paginator-sticky {
  bottom: 0;
  position: sticky;
  z-index: 10;
}
.mat-header-cell {
  background-color: #1967b3;
  color: white;
}
:host ::ng-deep .mat-sort-header-arrow {
  color: #fff;
}
:host ::ng-deep .mat-form-field-wrapper {
  padding-bottom: 10px !important;
}
