<!--Author - Padmesh -->
<div style="overflow: auto; min-height: 100%; background-color: #e7ebee;">
  <app-header></app-header>
  <div class="attemptHistory">
    <h1 style="text-align: center;">Attempt History</h1>
    <div *ngIf="!loading">
      <mat-form-field appearance="outline">
        <mat-label>Search attempts...</mat-label>
        <input matInput (keyup)="applyFilter($event)" placeholder="Ex. qui" />
        <mat-icon matPrefix>search</mat-icon>
      </mat-form-field>
      <div
        class="attemptTable mat-elevation-z12"
        [hidden]="dataSource.filteredData.length === 0"
      >
        <table mat-table matSort [dataSource]="dataSource">
          <ng-container matColumnDef="test">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Test</th>
            <td mat-cell *matCellDef="let element">{{ element.test }}</td>
          </ng-container>
          <ng-container matColumnDef="score">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Score</th>
            <td mat-cell *matCellDef="let element">{{ element.score }}</td>
          </ng-container>
          <ng-container matColumnDef="dateTaken">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
              Date Taken
            </th>
            <td mat-cell *matCellDef="let element">{{ element.dateTaken }}</td>
          </ng-container>
          <ng-container matColumnDef="action">
            <th mat-header-cell *matHeaderCellDef>Answers</th>
            <td mat-cell *matCellDef="let element">
              <button
                mat-button
                color="primary"
                style="text-decoration: underline;"
                (click)="viewAnswers(element.testId)"
              >
                View Answers
              </button>
            </td>
          </ng-container>
          <tr
            mat-header-row
            *matHeaderRowDef="displayedColumns; sticky: true"
          ></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
        </table>
        <mat-paginator
          [pageSizeOptions]="[5, 10, 20, 50, 100]"
          showFirstLastButtons
          class="mat-paginator-sticky"
        ></mat-paginator>
      </div>
      <div
        *ngIf="dataSource.filteredData.length === 0"
        fxLayoutAlign="center center"
      >
        <img
          src="../../assets/img/noresultsfound.PNG"
          width="180vw"
          height="180vh"
          style="margin-top: 8vw;"
        />
      </div>
    </div>
    <div class="loading-indicator" *ngIf="loading">
      <mat-spinner></mat-spinner>
    </div>
  </div>
</div>
