<!--Author - Padmesh Donthu-->
<div style="background-color: #e7ebee; min-height: 100%;">
  <app-header></app-header>
  <div
    class="container"
    fxLayout="row"
    fxLayout.xs="column"
    fxLayoutWrap
    fxLayoutGap="10px"
    fxLayoutGap.xs="5px"
    fxLayoutAlign="start"
    style="
      padding-left: 5%;
      padding-right: 5%;
      padding-top: 2%;
      padding-bottom: 2%;
      margin-top: 5%;
    "
  >
    <div class="item item-1" fxFlex="50%">
      <mat-card
        class="example-card"
        [routerLink]="['whyMasters']"
        routerLinkActive="active"
      >
        <mat-card-header>
          <mat-card-title>Why Masters?</mat-card-title>
          <mat-card-subtitle>Masters</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <br />
          <p>
            Click on this link to know more about the prospects of masters and
            why masters is in demand among the students across the world! We
            have compiled a list of possible reasons on the demand for masters.
          </p>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="item item-1" fxFlex="50%">
      <mat-card
        class="example-card"
        [routerLink]="['stories']"
        routerLinkActive="active"
      >
        <mat-card-header>
          <mat-card-title>Success Stories</mat-card-title>
          <mat-card-subtitle>Masters</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <br />
          <p>
            Click on this link to know more about the users who have enrolled to
            GREPrep. Learn about how GREPrep has helped them to achieve what our
            users have dreamt of. These are their success stories.
          </p>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
  <div
    class="container"
    fxLayout="row"
    fxLayout.xs="column"
    fxLayoutWrap
    fxLayoutGap="10px"
    fxLayoutGap.xs="5px"
    fxLayoutAlign="start"
    style="
      padding-left: 5%;
      padding-right: 5%;
      padding-top: 2%;
      padding-bottom: 2%;
    "
  >
    <div class="item item-1" fxFlex="50%">
      <mat-card
        class="example-card"
        [routerLink]="['listOfSchools']"
        routerLinkActive="active"
      >
        <mat-card-header>
          <mat-card-title>List of Schools</mat-card-title>
          <mat-card-subtitle>Masters</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <br />
          <p>
            This feature provides the user a huge list of schools to select
            from. The schools are sorted based on their overall global ranking.
            User are provided with a list of schools, a small description about
            them and a search bar to narrow down their choices. Moreover, if
            users are interested in a school, they can add schools as dream,
            reach or safe option.
          </p>
        </mat-card-content>
      </mat-card>
    </div>

    <div class="item item-1" fxFlex="50%">
      <mat-card
        class="example-card"
        [routerLink]="['ranking']"
        routerLinkActive="active"
      >
        <mat-card-header>
          <mat-card-title>School Rankings 2020</mat-card-title>
          <mat-card-subtitle>Masters</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <br />
          <p>
            This feature provides the user with a list of their favourite
            schools. Users can add schools as dream, reach and safe as they
            start their preparation and remove school from one table add add it
            to a different table as they move ahead with their preperations.
            Once users remove a school from this page, they add it into a
            different category from list of schools page.
          </p>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
