<!--Author - Abhinav Ramesh, Padmesh Donthu-->
<app-header></app-header>
<div class="parallax"></div>
<div class="section" style="background-color: #e7ebee;">
  <div class="row container">
    <h2 class="header">Why Choose GRE PREP?</h2>
    <p class="grey-text text-darken-3 lighten-3">
      Today users like you mostly want the best product but at a minimum
      possible cost, so generally it is quite difficult to find such product,
      but this website is completely free of cost and is available for all the
      users globally. Moreover, we provide enough practice materials to ace the
      GRE examination. These materials resemble the questions asked in the GRE
      examination very closely, as can be observed from our testimonials the
      scores the students have got after using our resources. This website is
      trustworthy, free of cost and provides a very simple interface for
      preparation. It is a combo of everything that a student needs to perform
      well in the GRE examination. It’s a great option for students as it is
      offered entirely online, meaning no books, DVDs, classrooms, etc. This has
      become the preferred study method for the majority of GRE studiers. There
      are also no deadlines so the GRE prep course from GREPrep can be taken at
      students own pace, which is a huge plus as other courses often make you
      pay quite a bit extra to extend your subscription. It’s a great option for
      people with full time jobs, families, or some other time demanding factor.
      <br />It’s completely free of cost only requirement being creating an
      account to access all the features. Again, the program is completely
      accessed online, which may be a drawback for some but from all the
      students I’ve helped on the GRE who have used GREPrep, none have seen this
      as an obstacle to maximizing their learning.We do not provide in person
      tutoring. However, GREPrep offers a plethora of free resources that can
      help immensely in place of a tutor. Moreover, GREPrep has its own android
      application that also offers plethora of study materials for the students
      for practice. The application is avilable on google play store. So, if a
      student is not able to use the website while on the go, they can easily
      access all the materials through our android application. The app is also
      free of cost. These are the factors that the student can consider while
      opting our services and we promise stduent will never regret thier
      decision of choosing us. We wish all the best to evry GRE aspirants. Happy
      learning!!
    </p>
  </div>
</div>
<div class="parallax-container">
  <div class="parallax2"></div>
</div>
<div class="section" style="background-color: #e7ebee;">
  <div class="row container">
    <h2 class="header">Tests</h2>
    <p class="grey-text text-darken-3 lighten-3">
      GREPrep provides a variety of tests for prospective students who want to
      take GRE Exam. We provide four different types of test: Quantitative,
      Verbal, Quiz, and Mock Tests. The Quantitative tests provides the users an
      opportunity to excel their knowlege and understanding of mathematics. The
      Verbal tests are used to test the skills of the person in the vocabulary
      and understanding of the English language. The Quiz section is a mix of
      Quantitative and Verbal tests where the questions are from both the
      sections. These tests are not timed. Use the GREPrep Mock Test to help you
      prepare for the computer-delivered GRE General Test. The mock tests are
      designed to help you practice your test-taking strategies, such as time
      management, by taking a test under timed conditions.
    </p>
  </div>
</div>
<div class="parallax-container">
  <div class="parallax3"></div>
</div>
<div class="section" style="background-color: #e7ebee;">
  <div class="row container">
    <h2 class="header">GRE Predictor and Attempt History</h2>
    <p class="grey-text text-darken-3 lighten-3">
      We also have two features GRE Predictor and Attempt History. A GRE score
      predictor will be introduced which works based on the student's
      performance in the tests. The score every user gets in all the test
      modules will be used by the GRE score predictor in generating the
      predicted GRE score. University admits predictor which is based on users
      predicted GRE score that comes up with chances of getting admit from a
      university. These predictions are based on the highest mock test score of
      the user. The predictions will help the user to focus on the schools that
      give the user better chances of getting an admit. Along with the
      predictor, we also have an attempt history feature, which allows the user
      to view how the user has fared in the previous tests. The user can also
      look at the answers that was provided during the tests using the View
      Answers option. We will also mention the correct answers for each question
      to the user.
    </p>
  </div>
  <div class="parallax-container">
    <div class="parallax4"></div>
  </div>
  <div class="section" style="background-color: #e7ebee;">
    <div class="row container">
      <h2 class="header">My Schools</h2>
      <p class="grey-text text-darken-3 lighten-3">
        Aspirants can add schools to this page as they start their preparation
        and change their selection or move schools between different tables
        whenever they feel the need to. Whenever people start preparing for
        their GRE exam, they have a set target in their mind. They know which
        schools they want to get into. As they move further in their
        preparation, they get a much clearer picture as to which schools they
        can get into easily and schools for which schools they need to work
        hard. Before starting their GRE preparations, aspirants are suggested to
        a mock test so that they could get to know how much effort they must put
        into their preparations. Based on these marks they can even shortlist
        schools as Dream, Reach and Safe. Dream schools are those schools for
        which users must put in a lot of effort into their preparations. Reach
        schools are the one for which users must put in adequate amount of
        efforts. Safe schools are the one for which users are quite sure they
        would get into with little efforts. The schools in these divisions are
        bound to change as the preparation goes on. This will help them keep
        their eye on the target.
      </p>
    </div>
  </div>
</div>
<app-footer></app-footer>
